#userNameId{
    position: relative;
    height: 4%;
    background-color: 'red';
    margin-top: 10%;
    /* border-bottom: 1px solid red; */
        border-bottom: .1px solid blue;
        border-top: none;
        border-left: none;
        border-right: none;
    
    }
    
    #passwordId{
    position: relative;
    height: 4%;
    background-color: 'red';
    border-bottom: .1px solid blue;
        border-top: none;
        border-left: none;
        border-right: none;
    
    }
    
    #signInButton{
        width: 10%;
        height: 3%;
        border-color: blue;
        /* border-radius: 20%; */
        /* background-color: red; */
    }
    
    div{
        position: relative;
        left: 40%
        
    }